#sort-button {
  width: 16px;
  height: 16px;

  margin-left: 10px;

  border: none;
  background-color: transparent;
  background-image: url("../../images/arrow.svg");
 }
 
.arrow-down {
  transform: rotate(180deg);
}
 